.App {
  text-align: center;
  color: white;
}
body{
  background-color: #282c34;

}

.CalculatorUI{
  text-align: center;
}
.CalculatorUI table{
  margin:auto;
}
.CalculatorUI td{
  width: 50px;
  height: 50px;
  /*border:solid 1px #09d3ac;*/
}
.CalculatorUI td input{
  width: 50px;
  height: 50px;

}
.CalculatorUI .inputTf{
  font-size: 2em;
  text-align: center;
}
.CalculatorUI .hrBefore td{
  border-top: solid 3px #336699;

}
.CalculatorUI .vrBefore{
  border-left: solid 3px #336699;

}