.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.CalculatorUI{
  text-align: center;
}
.CalculatorUI table{
  margin:auto;
}
.CalculatorUI td{
  width: 30px;
  height: 30px;
  /*border:solid 1px #09d3ac;*/
}
.CalculatorUI td input{
  width: 30px;
  height: 30px;

}
.CalculatorUI .inputTf{

}